@tailwind base;
@tailwind components;
@tailwind utilities;

/* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
/* border: 10px solid; */

body {
  user-select: none;
  font-weight: bold;
}

.default_header {
  border-radius: 5px;
  padding: 10px;
  transition: all 300ms;
  background-color: #610061;
}

.default_header:hover {
  background-color: #9e009e;
}

.default_header_text {
  transition: all 200ms;
  background-color: #616161;
  border-radius: 5px;
}

.default_header_text:hover {
  background-color: gray;
}

.defaultInput {
  padding: 20px;
  width: 20vw;
  color: #c0c0c0;
  border-radius: 20px;
  background-color: #282828;
  outline: none;
}
.default_button {
  padding: 20px;
  border-radius: 7px;
  transition: all 300ms;
}

.default_button:hover {
  scale: 1.1;
  filter: brightness(1.1);
}
